body{
    background:#f4f7fb;
}

h1{
    color:#003366;
    font-weight:700;
}

.card{
    border:none;
    border-radius:12px;
}

.table{
    background:white;
}

.badge{
    font-size:.9rem;
}

#search{
    border-radius:10px;
    padding:12px;
}

.table-hover tbody tr:hover{
    background:#eef6ff;
}

footer{
    text-align:center;
    padding:20px;
    color:#777;
    font-size:.9rem;
}