<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="refresh" content="120">
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>


  <body style="background-color:rgb(0, 0, 0);">
<center>
    <div>
     {{ .Content }}
    </div>
</center>

  </body>
</html>
