{{ $dir := .Get "gallery_dir" }}

<ul class="image-gallery-grid" data-gallery-lightbox>
  {{ range (readDir (print "static" $dir)) }}
    {{- $ext := lower (path.Ext .Name) -}}
    {{- if in (slice ".jpg" ".jpeg" ".png" ".gif" ".tiff" ".bmp" ".webp") $ext -}}
      {{- $imagepath := printf "%s/%s" $dir .Name -}}
      {{- $filename := path.Base .Name -}}
      {{- $imagetitle := replaceRE "\\.[^.]+$" "" $filename | replaceRE "[-_]+" " " | humanize -}}
      {{- $imageconfig := imageConfig (printf "/static%s" $imagepath) -}}

      <li class="gallery-item">
        <a href="{{ $imagepath | relURL }}" class="lightbox-image" data-title="{{ $imagetitle }}">
          <img src="{{ $imagepath | relURL }}" alt="{{ $imagetitle }}" loading="lazy" decoding="async" width="{{ $imageconfig.Width }}" height="{{ $imageconfig.Height }}" sizes="(max-width: 768px) 50vw, (max-width: 1200px) 33vw, 25vw">
        </a>
        <p class="image-title">{{ $imagetitle }}</p>
      </li>
    {{- end -}}
  {{ end }}
</ul>
